.alert-warning {
  background-color: silver;
  border: none;
  color: ghostwhite;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  height: 36px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.close {
  color: ghostwhite;
  font-size: 11px;
  font-weight: 100;
}

span {
  background-color: gray;
  padding: 11px 15px;
  height: 37px;
  margin-right: -19px;
}