.wintStorage {
  background-color: black;
  /* opacity: 75%; */
  border: none;
  color: ghostwhite;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  height: 61px;
  padding: 10px;
  /* position: fixed; */
  text-align: center;
  width: 432px;
  /* z-index: 999; */
}
