.col-sm-10 {
    margin-left: 260px;
    display: block; 
}

#bigSuziPic {
    margin-top: 52px;
    width: 94%;
    /* max-width: 87.46%; */
    height: auto;
    padding: 13px 0 0 30px;
}

.bigSuziButton {
    background-color: #e4b94d;
    border-color: #e4b94d;
    color: white;
    font-size: 12px;
    letter-spacing: 0.1em;
    margin: 35px 0 35px 517px;
    padding: 12px 23px;
    text-align: center;
}

.fedMotto {
    font-family: proxima;
    font-size: 1.4em;
}

#bikesPic {
    width: 518px;
    height: auto;
    padding: 17px;
}

#igPic {
    width: 518px;
    height: auto;
    padding: 17px;
}

#servicePic {
    width: 518px;
    height: auto;
    padding: 17px;
}

#aboutFedPic {
    width: 518px;
    height: auto;
    padding: 17px;
}